/* 
    styled by Petar Petkovic, 
    e-mail: petar.petkovic@pmf.edu.rs 
*/

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar { 
    display: none; 
}

    #container {
        overflow: auto;
        width: 100%;
        height: auto;
        margin: auto;
        font-family: arial, Helvetica, Georgia;
        font-size: 2vmin;
    }

    h1 {
        font-size: 4vmin !important;
        font-weight: 700 !important;
    }

        .navBar {
            display: flex;
            width: 100%;
            position: fixed;
            z-index: 100;
            min-height: 10%;
        }

            .navBar, .main {
                background-color: #222;
            }

            .navBar .leftNav {
                font-size: 2vmin;
                width: 50%;
                display: inline;
                margin: 0 0 0 4%;
                color: gray;
            }

                .navBar .leftNav .name {
                    margin: auto 0;
                }

                    .navBar .leftNav .logo img {
                        margin: 10px 0;
                    }

                .navBar .rightNav {
                    width: 50%;
                    font-size: 2.2vmin;
                    display: inline;
                    margin: auto 0;
                }

                    .navBar .rightNav a {
                        font-weight: 800;
                        text-align: right;
                        color: #fff;
                        text-decoration: none;
                        text-align: center;
                        margin-left: 8%;
                    }

                    .navBar .rightNav a:hover {
                        color: #a8906b;
                    }

        .main {
            min-height: 100vh;
            padding-top: 3%;
            clear: both;
        }

            .main .homePageTitles {           
                background-color: #222;
                padding: 22% 0 15% 0;
                color: #fff;
                font-family: Helvetica, Arial;
            }

                .main .homePageTitles .titles {
                    text-align: center;
                    margin-bottom: 67px;
                }

                    .main .homePageTitles .titles h1 {
                        font-size: 9vmin !important;
                        font-weight: 500 !important;
                        color: #a8906b;
                        margin: 0;
                    }

                    .main .homePageTitles .titles h2 {
                        font-size: 2.5vmin;
                        font-family: Georgia;
                    }

                    .main .homePageTitles .titles a {
                        color: #cccccc;
                        font-style: italic;
                    }
                    
                    .main .homePageTitles .titles a:hover {
                        color: #ededed;
                    }
                    
        #about {
            min-height: 100vh;
            width: 80%;
            padding: 7% 0 0 0;
            font-weight: 600;
            margin-left: 10%;
            background-color: #fff;
            color: #a8906b;
        }

            #about p {
                font-size: 2.2vmin;
            }

        #portfolio {
            width: 100%;
            margin-left: 10%;
            color: #a8906b;
            padding: 7% 0;
        }

            #portfolio .box {
                position:relative;
                width: 20%;
                flex: 1;
                float:left;
                margin: 0.5%;
            }

            #portfolio .firstChild {
                margin-left: 0 !important;
            }

                #portfolio .box .textbox:hover {
                    opacity:1;
                    cursor: pointer;
                }
            
                #portfolio .box .textbox {
                    width:100%;
                    height:98%;
                    position:absolute;
                    top:0;
                    left:0;
                    opacity:0;
                    background-color: rgba(0,0,0,0.75);
                    -webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
                    box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
                    -webkit-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }

                #portfolio .box img:hover {
                    opacity: 0.6;
                    cursor: pointer;
                }

                    #portfolio .box .textbox .text {
                        padding-top: 32.5%;
                        text-align: center;
                        color: #fff;
                        font-size: 3vmin;
                        font-family: Helvetica, Arial;
                    }
           
        
        #contact {
            color: #a8906b;
            padding-top: 8%;
            margin-left: 10%;
            min-height: 70vh;
        }

            #contact h1 {
                margin: 0;
            }

                #contact form {
                    margin-top: -2%;
                }

                #contact form .par {
                    line-height: 20pt;
                    margin-bottom: 1%;
                    width: 30%;
                    min-width: 240px;
                }

                #contact form .send {
                  width: 10%;
                  margin: 0.5% 0 0 10%;
                  min-width: 100px;
                }

                #contact form textarea {
                  width: 30%;
                  min-width: 240px;
                }

            #contact #links {
                text-align: center;
                margin: 3% 0 0 -10% !important;
            }

                #contact #links a {
                    text-decoration: none;
                }

                    #contact #links a img {
                        width: 6%;
                        min-width: 50px;
                        margin: 0 4% 2% 4%;
                    }

                    #contact #links a img:hover {
                        opacity: 0.8;
                    }

        #footer {
                width: 100%;
                height: 80px;
                max-height: 80px;
                background-color: #fff;
                color: #4d4d4d;
                font-size: 2.5vmin;
            }

                #footer .footerLine {
                    height: 62px;
                    margin: auto 0;
                    background-color: #f2f2f2;
                }

                    #footer .footerLine .leftFooter, 
                    #footer .footerLine .rightFooter {
                        width: 44%;
                        float: left;
                        background-color: #f7f7f7;
                    }

                    #footer .footerLine .rightFooter {
                        text-align: right;
                        margin: 0.24% 6% 0 0;
                        padding: 16px 0 16px 0;
                    }

                    #footer .footerLine .leftFooter {
                      margin: 16px 6% 0 0;
                      padding: 0.24% 0 0 6%;
                    }

                        #footer .footerLine .rightFooter a {
                            text-decoration: none;
                            color: #4d4d4d;
                        }

                        #footer .footerLine .rightFooter a:hover {
                            color: black;
                        }

.clear {
    clear: both;
}